<nav class="navbar navbar-default">
  <div class="container-fluid">

    <div class="navbar-header">
      <a href="#" class="navbar-brand">recipe book</a>
    </div>

    <div class="navbar-default">

      <ul class="nav navbar-nav">
        <li><a href="#">recipes</a></li>
        <li><a href="#">shopping list</a></li>
      </ul><!--navbar-nav-->

      <ul class="nav navbar-nav navbar-right">

        <li class="dropdown">
          <a href="#" class="dropdown-toggle">manage <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">save data</a></li>
            <li><a href="#">fetch data</a></li>
          </ul>
        </li><!--dropdown-->

      </ul><!--navbar-right-->

    </div><!--collapse-->

  </div><!--container-fluid-->
</nav>
