<div class="row">
  <div class="col-xs-12">
    <img src="" alt="" class="img-responsive">
  </div>
</div><!--row-->

<div class="row">
  <div class="col-xs-12">
    <h1>recipe name</h1>
  </div>
</div><!--row-->

<div class="row">
  <div class="col-xs-12">

    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle">
        manage recipe <span class="caret"></span>
      </button>

      <ul class="dropdown-menu">
        <li><a href="#">add to shopping list</a></li>
        <li><a href="#">edit</a></li>
        <li><a href="#">delete</a></li>
      </ul>

    </div><!--btn-group-->

  </div><!--col-xs-12-->
</div><!--row-->

<div class="row">

  <div class="col-xs-12">
    description
  </div>

  <div class="col-xs-12">
    ingredients
  </div>

</div>
