<div class="row">

  <div class="col-xs-12">
    <button class="btn btn-success">new recipe</button>
  </div>

</div><!--row-->

<hr>

<div class="row">

  <div *ngFor="let recipe of recipes" class="col-xs-12">
    <a href="#" class="list-group-item clearfix">

      <div class="pull-left">
        <h4 class="list-group-item-heading">{{ recipe.name }}</h4>
        <p class="list-group-item-text">{{ recipe.description }}</p>
      </div>

      <span class="pull-right">
        <img [src]="recipe.imagePath" alt="" class="img-responsive">
      </span>

    </a><!--list-group-item-->
  </div><!--col-xs-12-->
  <app-recipes-item></app-recipes-item>

</div><!--row-->
